services:
  backend:
    build: ./backend
    container_name: ivisa_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - DATABASE_URL=sqlite:///./sql_app.db

  frontend:
    build: ./frontend
    container_name: ivisa_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules 
      - /app/.next
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      - WATCHPACK_POLLING=true
      - TURBOPACK=0
    stdin_open: true
    tty: true